<%= form_for(@question) do |f| %>
<%= render "shared/error_messages", :target => @question %>

<p>
	<%= f.label :title, "Summary:" %>
	<%= f.text_field :title %><%= mark_required(@question, :title)%>
</p>


<p>
	<%= f.label :body, "Detailed:" %><br />
	<%= f.text_area :body %><%= mark_required(@question, :body)%>
</p>  


<p>
	<%= f.label :topic_names, "Topics:" %>
	<%= f.text_field :topic_names %><%= mark_required(@question, :topic_names)%>
</p>


<div class="actions">
   <div class="submit"><%= f.submit %></div>
  </div>
    
<% end %>


