<div class="question_container">
	<div class="answers_number">			
	<%= question.answers_count unless question.answers_count.blank? %>
	</div>
	
	
	<div class="question_main">
		
			<div class="question_body">
			
				<div class="profile_picture">					
					<a href=<%= profile_url(question.user)%>>					
						<%= gravatar_for question.user.email, :size => 50 %>		
					</a>	
				</div>		
					
				<div class="question_title">
					<%=  link_to_unless_current h(question.title), question %>
				</div>
	
				<div class="question_description">
					<%=   truncate(h(question.body), :length => 70)  %>
				</div>
		
			</div>
			
			
	
			
		</div>			
		
		
		
   <div class="question_details">
	<%= render :partial => '/topics/topic_only',  :as => :topic, :collection => question.topics %>
	
		<div class="username">
		Asked by <%= link_to question.user.username, profile_url(question.user) %>
		</div>
		
		<div class="question_date">
			<%=  time_ago_in_words(question.created_at)  %> ago
		</div>
	
	
	</div>
	
	
	
	

</div>

<div class="question_shadow"></div>


	
	

