<%= form_tag (search_path, :method => 'get')  do %>
<p> <%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %></p>
<% end %>


<div class="button">
<%= link_to 'New Question', :action => 'new'%>
</div>
<div class="clear"></div>

<div id="questions_container">
<%= render :partial => @questions%>
</div>


<div id="sidebar">
Topic Filter: <%= session[:topic_filter]	%>
<%= link_to "Switch", topic_filter_path %>
</div>



