<%= form_for(@user) do |f| %>
<%= render "shared/error_messages", :target => @user %>

	<div class="formline">
	<div class="formlabel"><%= f.label :username, "Username:" %></div>
	<div class="formfield"><%= f.text_field :username %><%= mark_required(@user, :username)%></div>
	</div>
	
	<div class="formline">
	<div class="formlabel"><%= f.label :email, "Email:" %></div>
	<div class="formfield"><%= f.text_field :email %><%= mark_required(@user, :email)%></div>
	</div>
	
	<div class="formline">
	<div class="formlabel">	<%= f.label :password, "Password:" %></div>
	<div class="formfield"><%= f.password_field :password %></div>
	</div>
	
	<div class="formline">
	<div class="formlabel">	<%= f.label :password_confirmation, "Repeat Password:" %></div>
	<div class="formfield"><%= f.password_field :password_confirmation %></div>
	</div>
	
	<div class="formline">
    <div class="submit"><%= f.submit %></div>
	</div>

<% end %>
